
    :root {
        --red: #ff3838;
        --white: #ffffff;
        --black: #000000;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
    
    body, html {
        font-family:Georgia;
        margin: 0;
        height: 100%;
    }
    h1{
        margin-top: 120px;
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px;
    }
    .border{
      width: 160px;
      height: 5px;
      background:red;
      margin:-25px auto;
      margin-bottom:20px;
      }
a {
    color: #333;
    text-decoration: none;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }
  
  img {
    width: 100%;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    border: 2px solid whitesmoke;
    box-shadow: 0 .3rem .5rem dimgrey;
  }
  
  .card h3 {
      font-size: 30px;
    margin-bottom: 2rem;
    color: red;
    text-transform: uppercase;
  }
  .card p
  {
    font-size: 22px;
  }
  .card img {
    border: 2px solid whitesmoke;
    height: 430px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  
  .btn {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    color: white;
    background: black;
  }
  
  @media(max-width:600px) {
    .card {
      display: block;
    }
    }
    