
    :root {
        --red: #ff3838;
        --white: #ffffff;
        --black: #000000;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
    
    body, html {
        font-family:Georgia;
        margin: 0;
        height: 100%;
    }
    h1{
        margin-top: 120px;
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px;
    }.border{
      width: 160px;
      height: 5px;
      background:red;
      margin:-25px auto;
      margin-bottom:20px;
      }
      nav{
        background-color:black;
      }
      .navbar {
        background-color:black;
        padding: 9px 9px;
        padding-right: 30px;
        padding-left: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 1566px;
        z-index: 99;
      }
      
      .navbar a {
        float: left;
        color: var(--white);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: bold;
        line-height: 25px;
        padding: 13px;
      }
      .fa-home
      {
        font-size: 40px;
      }
      .navbar .logo {
        margin-top: -12px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 20px;
        margin-left: 120px;
        color: white;
      }
      
      .navbar-right a:hover {
        color: var(--red);
      }
      
      .navbar-right a.active {
        color: var(--red);
      }
      
      .navbar-right a {
        transition: color 0.5s ease;
      }
      
      .navbar-right {
        align-items: center;
      }
      
      .navbar .icon {
        font-size: 25px;
        display: none;
      }
      
      
      @media screen and (max-width: 1300px) {
        .navbar {
          padding: 10px;
        }
        
        .navbar .menu {
          display: none;
        }
      
        .navbar .icon {
          display: block;
          position: absolute;
          top: 12px;
          right: 13px;
        }
        .navbar .logo {
        margin-left:0px;
        }
      
        .navbar.show {
          background: var(--black);
        }
      
        .navbar.show .menu {
          display: block;
          width: 100%;
        }
      
        .navbar.show .menu a {
          width: 100%;
        }
      
      
      }
        
a {
    color: #333;
    text-decoration: none;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }
  
  img {
    width: 100%;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    border: 2px solid whitesmoke;
    box-shadow: 0 .3rem .5rem dimgrey;
  }
  
  .card h3 {
      font-size: 30px;
    margin-bottom: 2rem;
    color: red;
    text-transform: uppercase;
  }
  .card p
  {
    font-size: 22px;
  }
  .card img {
    border: 2px solid whitesmoke;
    height: 430px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  
  .btn {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    color: white;
    background: black;
  }
  
  @media(max-width:600px) {
    .card {
      display: block;
    }
    }
    